$font-size: (
  1: 20px,
  2: 18px,
  3: 16px,
  4: 14px,
  5: 12px,
);
.fs-title {
  font-size: map-get($font-size, 1);
}
.fs-large {
  font-size: map-get($font-size, 2);
}
.fs-base {
  font-size: map-get($font-size, 3);
}
.fs-small {
  font-size: map-get($font-size, 4);
}
.fs-mini {
  font-size: map-get($font-size, 5);
}

.fs-lg-large {
  @include lg {
    font-size: map-get($font-size, 2);
  }
}
.fs-lg-base {
  @include lg {
    font-size: map-get($font-size, 3);
  }
}
.fs-md-large {
  @include md {
    font-size: map-get($font-size, 2);
  }
}
.fs-md-base {
  @include md {
    font-size: map-get($font-size, 3);
  }
}
.fs-lg-small {
  @include lg {
    font-size: map-get($font-size, 4);
  }
}
.fs-md-small {
  @include md {
    font-size: map-get($font-size, 4);
  }
}

a {
  text-decoration: none;
}
.menuList {
  padding-top: 1rem;
  margin-top: 0.5rem;
  padding-left: 10%;
  li {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0rem;
    padding-right: 10%;
    svg {
      margin-right: 0.5rem;
    }
  }
  .dropdown-list {
    color: gray;
    display: flex;
    flex-direction: column;
    .dropdown-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dropdown-arrow {
        transition: all 0.35s ease;
      }
      &.show {
        // 父元件控制箭頭class
        .dropdown-arrow {
          transform: rotate(90deg);
        }
      }
      &.active {
        color: white;
      }
    }
  }
}
.collapse-item {
  padding-top: 16px;
  padding-bottom: 0;
  &::before {
    content: "－";
  }
}
.menu-link {
  color: gray;
  &:hover {
    color: white;
  }
}
.router-link-active {
  color: white;
}

.status-text {
  display: inline-block;
  font-size: 14px;
  border-radius: 50rem;
  padding: 0.25rem;
  margin-bottom: 0;
}
