$font-size: (
  bigger: 24px,
  1: 20px,
  2: 18px,
  3: 16px,
  4: 14px,
  5: 12px,
);
.fs-bigger {
  font-size: map-get($font-size, "bigger");
}
.fs-title {
  font-size: map-get($font-size, 1);
}
.fs-large {
  font-size: map-get($font-size, 2);
}
.fs-base {
  font-size: map-get($font-size, 3);
}
.fs-small {
  font-size: map-get($font-size, 4);
}
.fs-mini {
  font-size: map-get($font-size, 5);
}

.fs-lg-bigger {
  @include lg {
    font-size: map-get($font-size, "bigger") !important;
  }
}
.fs-md-bigger {
  @include md {
    font-size: map-get($font-size, "bigger") !important;
  }
}
.fs-lg-title {
  @include lg {
    font-size: map-get($font-size, 1) !important;
  }
}
.fs-md-title {
  @include md {
    font-size: map-get($font-size, 1) !important;
  }
}
.fs-lg-large {
  @include lg {
    font-size: map-get($font-size, 2) !important;
  }
}
.fs-lg-base {
  @include lg {
    font-size: map-get($font-size, 3) !important;
  }
}
.fs-md-large {
  @include md {
    font-size: map-get($font-size, 2) !important;
  }
}
.fs-md-base {
  @include md {
    font-size: map-get($font-size, 3) !important;
  }
}
.fs-lg-small {
  @include lg {
    font-size: map-get($font-size, 4) !important;
  }
}
.fs-md-small {
  @include md {
    font-size: map-get($font-size, 4) !important;
  }
}

a {
  text-decoration: none;
}
.menuList {
  padding-top: 1rem;
  margin-top: 0.5rem;
  padding-left: 10%;
  li {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0rem;
    padding-right: 10%;
    svg {
      margin-right: 0.5rem;
    }
  }
  .dropdown-list {
    color: gray;
    display: flex;
    flex-direction: column;
    .dropdown-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dropdown-arrow {
        transition: all 0.35s ease;
      }
      &.show {
        // 父元件控制箭頭class
        .dropdown-arrow {
          transform: rotate(90deg);
        }
      }
      &.active {
        color: white;
      }
    }
  }
}
.collapse-item {
  padding-top: 16px;
  padding-bottom: 0;
  &::before {
    content: "－";
  }
}
.menu-link {
  color: gray;
  &:hover {
    color: white;
  }
}
.router-link-active {
  color: white;
}

.status-text {
  display: inline-block;
  font-size: 14px;
  border-radius: 50rem;
  padding: 0.25rem;
  margin-bottom: 0;
}
// 限制行數

@mixin line-clamp($lines: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $lines;
}

.line-clamp-1 {
  @include line-clamp(1);
}

.line-clamp-2 {
  @include line-clamp(2);
}

.line-clamp-3 {
  @include line-clamp(3);
}

.line-clamp-4 {
  @include line-clamp(4);
}
.line-clamp-5 {
  @include line-clamp(5);
}

.line-clamp-md-1 {
  @include md {
    @include line-clamp(1);
  }
}
.line-clamp-md-5 {
  @include md {
    @include line-clamp(5);
  }
}
.line-clamp-lg-2 {
  @include lg {
    @include line-clamp(2);
  }
}

//empty-text
.empty-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70svh;
}

// hover
.text-underline-hover {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
