$navbar-height: 56px;
$menu-width: 250px;

.dashboard-menu {
  background-color: #212529;
  width: 0px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.2s;
  @include lg {
    width: $menu-width;
  }
}
// .hide-dashboard-menu {
//   width: 0px;
//   transition: width 0.2s;
// }
.dashboard-content-layout {
  width: 100vw;
  margin-left: 0px;
  transition: 0.2s;
  @include lg {
    margin-left: $menu-width;
    width: calc(100vw - $menu-width);
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  min-height: calc(100vh - $navbar-height);
  max-height: calc(100vh - $navbar-height);
  overflow: auto;
  footer {
    min-height: 60px;
    background-color: rgb(239, 239, 240);
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 14px;
  }
}

.navbar {
  height: $navbar-height;
  padding-left: 0;
  // padding-left: 8%;
  // @include lg {
  //   padding-left: 0;
  // }
}

.d-center {
  display: flex;
  justify-content: center;
}

.d-end {
  display: flex;
  justify-content: end;
}

.card-layout {
  margin: 0.15rem 0;
  padding: 1rem;
  @include md {
    padding: 1rem;
    margin: 0.75rem;
  }
}
