$navbar-height: 70px;

.dashboard-content-Layout {
    user-select: none;
    margin-top: $navbar-height + 5;
    padding: 1rem;
}

.navbar {
    height: $navbar-height;

    @include md {
        padding-right: 0;
    }
}

.d-center {
    display: flex;
    justify-content: center;
}

.d-end {
    display: flex;
    justify-content: end;
}