// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px

li {
  list-style: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-column {
  display: flex;
  flex-direction: column;
}
.d-between {
  display: flex;
  justify-content: space-between;
}
.mobile-hide {
  @media (max-width: 576px) {
    display: none !important;
  }
}
.pc-hide {
  @media (min-width: 576px) {
    display: none !important;
  }
}
.md-up-hide {
  @media (min-width: 768px) {
    display: none !important;
  }
}
.md-down-hide {
  @media (max-width: 768px) {
    display: none !important;
  }
}
.lg-up-hide {
  @media (min-width: 992px) {
    display: none !important;
  }
}
.lg-down-hide {
  @media (max-width: 992px) {
    display: none !important;
  }
}
// 固定寬度
.fixed-width-100 {
  @include fixedWidth(100px);
}
